body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, Helvetica, Arial,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif;
}

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #e8eaed;
  /* overflow-y: auto; */
}

.panel {
  margin-right: 10%;
}

.form {
  flex: 2 0 500px;
  width: 400px;
  min-height: 478px;
  padding: 22px 40px 22px 40px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
  border-radius: 6px;
}

.form .formTitle {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.form .formTitle .img {
  width: 36px;
  height: 36px;
}

.form .formTitle .title {
  font-size: 36px;
  font-weight: bold;
  color: #242A38;
  line-height: 40px;
  letter-spacing: 1px;
}

.login {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.loginButton {
  margin-top: 214px;
  margin-bottom: 74px;
  border: 0px solid black !important;
  background: rgba(255, 255, 255, 1) !important;
  width: 295px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  z-index: 10;
  cursor: default;
  box-shadow: none;
  color: #151515;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.loginButton:disabled {

  opacity: 0.3;
  background: #FFF;
  color: #151515;
  text-align: center;
  /* 150% */
}

.ant-btn[disabled] {
  background: rgba(255, 255, 255, 0.2) !important;
}



.account {
  font-size: 18px;
  color: #414b55;
  line-height: 28px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.accountTitle {
  width: 100%;
  color: #FFF;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.accountContent {
  width: 100%;
  color: rgba(255, 255, 255, 0.80);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 29px;

}

.embedded {
  border-radius: 10px;
  border: 0.5px solid #FFF;
  background: rgba(30, 29, 29, 0.10);
}

.account .ant-select-selector {
  margin-top: -35px;
  border: 0px solid white !important;
  background: rgba(30, 29, 29, 0.10);
  background-color: rgba(0, 0, 0, 0) !important;
  color: #FFF !important;
  height: 0px !important;
  flex-shrink: 0;
  font-size: 14px;
  padding: 0px !important;
}

.ant-select-focused .ant-select-selector {
  border-color: rgba(0, 0, 0, 0) !important;
}


.ant-form-item-required {
  font-size: 16px !important;
  height: 30px;
}

.userList {
  width: 750px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.userInfo {
  margin: 0px 45px;
  width: 60px;
  height: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

}

.userImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FFF;
  overflow: hidden;
}

.userImg img {
  width: 100%;
  height: 100%;
}

.useName {
  margin-top: 16px;
  color: #FFF;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.useOrg {
  margin-top: 2px;
  color: rgba(255, 255, 255, .5);
  text-align: center;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.userInfo:hover .useOrg {
  visibility: visible;
}

.goBack {
  cursor: pointer;
  color: #FFF;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  position: fixed;
  bottom: 40px;
  left: calc(50% - 14px);
}

.myInput {
  width: 295px;
  height: 52px;
  border: 0 solid black;
  padding: 14px 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.10);
  position: relative;
  left: -0.5px;
}

.myInputTitle {
  color: #E5E5E5;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  height: 16px;
  width: 100%;
  display: none;

}

.inputTitleHeight {
  display: block;
}

.myInputContent {
  border: none !important;
  color: #FFF;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  height: 22px;
  width: 100%;
  background-color: rgba(213, 213, 213, 0);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.40);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.myInputContent:focus {
  outline: none;
  /* 移除选中时的轮廓样式 */
}

.coverInput {
  border: 0.5px solid #FFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errBorder {
  border-color: #FE5F56 !important;
  border-width: 0.5px !important;
}

.focusBorder {
  border-width: 2px;
}

.valuePadding {
  padding: 8px 12px;
}

.errColor {
  /* color: #FE5F56 !important; */
}

.ant-select-selection-placeholder {
  color: rgba(255, 255, 255, 0.40);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}



.ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input).ant-select-focused .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}

.ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input).ant-select-focused .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}

.ant-select:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 22px;
  border-color: transparent !important;
  box-shadow: none !important;
}

.ant-select-single:not(.act-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 22px !important;
  color: #FFF;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0px;
}

.errorMessage {
  width: 100%;
  height: 16px;
  color: #FE5F56;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-left: 12px;
  padding-top: 4px;
}

.whiteShadow {
  text-shadow: 0px 2px 3px rgba(48, 48, 48, 0.06);
}

.userBackgroundFont {
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;

  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 100px;
  user-select: none;
}

.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 150px;

}

.inputPopup {
  margin-left: -10px;
  height: 190px;
}

.ant-select-dropdown {
  border-radius: 8px;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(238, 238, 238, 1);
  font-weight: normal;
}

.ant-select-item {
  margin: 1px 8px;
  border-radius: 4px;
}