#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #e8eaed;
  /* overflow-y: auto; */
}

.panel {
  margin-right: 10%;
}

.form {
  flex: 2 0 500px;
  width: 400px;
  min-height: 478px;
  padding: 22px 40px 22px 40px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
  border-radius: 6px;
}

.form .formTitle {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.form .formTitle .img {
  width: 36px;
  height: 36px;
}

.form .formTitle .title {
  font-size: 36px;
  font-weight: bold;
  color: #242A38;
  line-height: 40px;
  letter-spacing: 1px;
}

.login {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.loginButton {
  margin-top: 220px;
  border: 0px solid black !important;
  background: rgba(255, 255, 255, 1) !important;
  width: 335px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  z-index: 10;
  cursor: default;
  box-shadow: none;
  color: #000;
  text-align: center;
  font-family: PingFang SC;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ant-btn[disabled] {
  background: rgba(255, 255, 255, 0.2) !important;
}



.account {
  font-size: 18px;
  color: #414b55;
  line-height: 28px;
  width: 335px;
}

.accountTitle {
  color: #E6E6E6;
  margin-bottom: 4px;
  font-family: PingFang SC;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  mix-blend-mode: plus-lighter;
}

.accountContent {
  color: #E6E6E6;
  font-family: PingFang SC;
  font-size: 16px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
  mix-blend-mode: plus-lighter;
  margin-bottom: 42px;

}

.embedded {
  border-radius: 10px;
  border: 0.5px solid #FFF;
  background: rgba(30, 29, 29, 0.10);
}

.account .ant-select-selector {
  border: 0px solid white !important;
  background: rgba(30, 29, 29, 0.10);
  background-color: rgba(0, 0, 0, 0) !important;
  color: #FFF !important;
  height: 22px !important;
  flex-shrink: 0;
  font-size: 14px;
  padding: 0px !important;
}

.ant-select-focused .ant-select-selector {
  border-color: rgba(0, 0, 0, 0) !important;
}


.ant-form-item-required {
  font-size: 16px !important;
  height: 30px;
}

.userList {
  width: 750px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.userInfo {
  margin: 0px 45px;
  width: 60px;
  height: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

}

.userImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FFF;
  overflow: hidden;
}

.userImg img {
  width: 100%;
  height: 100%;
}

.useName {
  margin-top: 16px;
  color: #FFF;
  text-align: center;
  font-family: PingFang SC;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.useOrg {
  margin-top: 2px;
  color: #fff;
  text-align: center;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.userInfo:hover .useOrg {
  visibility: visible;
}

.goBack {
  color: #FFF;
  text-align: center;
  font-family: PingFang SC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  position: fixed;
  bottom: 40px;
  left: calc(50% - 14px);
}

.myInput {
  width: 335px;
  height: 56px;
  margin: 2px;
  padding: 17px 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 0.5px solid #D5D5D5;
  background: rgba(213, 213, 213, 0.04);
}

.myInputTitle {
  color: #E5E5E5;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  height: 16px;
  width: 100%;
  display: none;
}

.inputTitleHeight {
  display: block;
}

.myInputContent {
  height: 22px;
  width: 100%;
  border: 0px solid white;
  background-color: rgba(213, 213, 213, 0);
}

.errBorder {
  border-color: #FF2424 !important;
}

.focusBorder {
  padding: 8px 12px;
  border-width: 2px;
}

.valuePadding {
  padding: 8px 12px;
}

.errColor {
  color: #FF2424 !important;
}

.ant-select-selection-placeholder {
  color: #E6E6E6;
  font-family: PingFang SC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input).ant-select-focused .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}

.ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input).ant-select-focused .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}

.ant-select:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 22px;
  border-color: transparent !important;
  box-shadow: none !important;
}

.ant-select-single:not(.act-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 22px !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0px;
}

.errorMessage {
  height: 16px;
  color: #FF2424;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}