html {
    scroll-behavior: smooth;
}
body {
    font-family: "PingFang SC";
}

ul, ol, li {
    list-style: none;
}

*, ul, ol, dl, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --layout-padding: 80px;
}

/*滚动条样式*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

/*antd*/
.ant-input-outlined:not(.ant-input-disabled):hover, .ant-select-outlined:not(.ant-select-disabled):hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.07);
}
.ant-input::placeholder {
    font-size: 14px;
}
.ant-select-dropdown .ant-select-item {
    margin-bottom: 2px;
}
.ant-select-dropdown .ant-select-item:last-of-type {
    margin-bottom: 0;
}

